.actions li
  display: inline-block
.actions li:hover
  cursor: pointer
h4
  input[type="text"]
    outline: 0
    border: 0
    font-size: 16px
.question-number
  width: 900px
  margin: 0 auto 20px
  h4
    margin-bottom: 10px
  ul
    overflow: hidden
  li
    float: right
    margin-left: 10px
  label
    display: block
    margin-left: 20px
    margin-bottom: 10px
  .addOpt, .rmOpt
    color: #666
.optContainer
  input[type="text"]
    border: none
    margin-left: 10px
    outline: none;