.newPage
  width: 800px
  height:280px
  margin: 0 auto
  background-color:white
  border:1px solid #ddd
  box-shadow:2px 2px 3px 3px #ccc
  position:relative
button.add
  width:200px
  height:50px
  background-color:#ee7419
  font-size:20px
  color:#fff
  position:absolute
  top:50%
  margin-top:-25px
  left:50%
  margin-left:-100px

