.nav-global
  width: 1024px
  margin: 0 auto
  h1
    float: left
.navPages
  overflow: hideen
  li
    display: inline-block
    margin-left: 20px
    a
      display: block
      color: #fff
  .active
    a
      color: #bfbfbf
