body
  background-color: #eee
#pageEditor
  h2
    font-weight: bold
    text-align: center
    margin-bottom: 20px
    margin-top: 20px
.title
  text-align: center
  font-size: 36px
  outline: none
  border: none
span
  padding: 5px
.box
  background-color: white
  width: 1024px
  min-height: 400px
  border: 1px solid #ddd
  padding-bottom: 20px
  margin-bottom: 40px
  box-shadow: 1px 1px 1px 1px #ccc
.question
  background-color: #eee
  width:900px;height: 100px
  margin: 0 auto
  text-align: center
  margin-top: 20px
  margin-bottom: 20px
  border: 1px solid #ddd
.empty
  width: 950px; height:0
  border: 1px solid #ddd
  margin: 0 auto
.result
  width: 800px;heitht: 100px
  margin-top: 40px
  margin-left: 100px
label
  margin-left: 100px
.deadline
  margin-left: 10px
  margin-right: 100px
#pageEditor
  button
    height: 30px;width: 80px
    margin-right: 10px
    background-color: white
    outline: none
  button:hover
    cursor: pointer
span.addQuestion:hover
  cursor: pointer
.visible
  display: none
.questionType
  margin-top: 10px
p
  margin-top: 30px



