#pageList
  table
    width: 1024px
    margin: 0 auto
    color: #666
  thead
    th
      padding-bottom: 10px
  tbody
    height: 100px
    background-color: #fff
    tr
      border-bottom: 1px solid #ccc
  td
    text-align: center
    font-size: 14px
  .t2
    width: 160px
  .t3
    width: 120px
  .t4
    width: 300px
  .list-item
    height: 40px
  .list-item:hover
    background-color: #fcf0e5
  button
    font-size: 12px
    padding: 2px 5px
    background-color: #fff
    outline: none
    border: 1px solid #ccc
    cursor: pointer
  label
    margin-left: 20px
  tfoot
    background-color: #fff
    label
      margin-left: 0
    td
      padding: 10px 0
    .delSelectd
      margin-left: 10px
