*
  margin: 0
  padding: 0
li
  list-style-type: none
a
  text-decoration: none

#header
  height: 60px
  line-height: 60px
  color: #fff
  background-color: #ee7419
#stage
  position: absolute
  top: 60px
  bottom: 0
  width: 100%
  background-color: #efefef
.sub-stage
  width: 1024px
  margin: 60px auto 0
  display: none
  &.active
    display: block