#pageDetail
  h1
    text-align: center
    margin: 20px auto
    color: #666
  p
    margin: 0 0 0 20px
  .ques-item
    margin-left: 80px
    margin-bottom: 40px
  h2
    font-size: 16px
    margin-bottom: 10px
  li
    margin-left: 20px
    margin-bottom: 10px